Відповіді на контрольні запитання:
1)За допомогою команди git push.
2)Завдяки команді git pull.
3)Команда git marge.
4)Завдаяки команді "git submodule init" отримаєте ініціалізацію конфігураційного, локального файлу. Та команді "git submodule update", що дозволяє отримати доступ до всіх даних проєкту.
5)Розподілені системи контролю версії не потребують сервера, адже всі файли знаходяться на кожному з комп'ютерів.
6)Перевагами  використання розподіленої системи контролю версій є: 1.Можливість створення різних варіантів одного документу; 2.Документування всіх змін (коли ким було змінено/додано, хто який рядок змінив); 3. Реалізує функцію контролю доступу користувачів до файлів.
7) Недоліками використання розподіленої системи контролю версій є: 1.Не можливо контролювати доступ до файлів; 2.Відсутня загальна нумерація версій файлів; 3.Відсутня можливість блокування файлів.
